body {
    background-color: lightgray;
}

.place {
    z-index: 1;
    width: 45%;
    height: 600px;
}
.place-btn {
    position: absolute;
}
.close-btn {
    display: none;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: relative;
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 50px;
    transition: 0.09s linear;
}

.close-btn-motion {
    display: block;
}

.line-btn {
    background-color: lightgray;
}
.line-btn-one {
    position: absolute;
    width: 5px;
    height: 25px;
    border: 1px solid lightgray;
    margin: 7px 0px 0px 17px;
    transform: rotate(40deg);
    transform-origin: center;
    border-radius: 10px;
}
.line-btn-two {
    position: absolute;
    width: 5px;
    height: 25px;
    border: 1px solid lightgray;
    margin: 7px 0px 0px 17px;
    transform: rotate(320deg);
    transform-origin: center;
    border-radius: 10px;
}

.card-box {
    position: relative;
    width: 200px;
    height: 300px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 50px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.4);
    background: #000;
    transform-origin: center center 0px;
    transition: all 0.5s ease-out;
    animation-name: animate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
    z-index: 3;
}

.card-box-hover {
    animation: unset;
    margin-top: 18vh;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.card {
    position: relative;
    z-index: 3;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    background-image: url(../images/background-card.jpg);
    background-position: center;
}
.card-down-text {
    color: white;
    font-weight: 900;
    font-size: 30px;
    line-height: 4px;
    text-align: center;
    margin-bottom: 100px;
}
.card-desc {
    margin-top: 230px;
    color: white;
    font-weight: 900;
    font-size: 40px;
    line-height: 4px;
    text-align: center;
}

.content {
    transform: translateY(150%);
    opacity: 0;
    transition-duration: 1s;
}

.content-show {
    transform: translateY(0);
    z-index: -1;
    opacity: 1;
    height: 1px;
}


/* audio */

audio {
    display: none;
}

.play-audio-btn {
    width: auto;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
    font-size: 30px;
    margin-left: 115px;
    transition: 0.09s linear;
}

.play-audio-btn:hover {
    opacity: 0.5;
}